# Git-Historie (WICHTIG für schlanke Images)
.git
.gitignore
README.md

# Node & Build
node_modules/
dist/
build/
npm-debug.log*
nodemon.json

# Docker & Datenbank 
postgres/
db/data/
/postgres
*.tar

# Security & Config
.env
certs/
*.pem

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporäres/Tests
test.*
*.http
*.txt
temp/
db.json

# Zeichnungen
*.drawio
*.drawio.svg
*.drawio.png