
# Dieses file umbenennen von .env.example 
#                                       zu .env 
#                                                  damit es verwenet werden kann. Danke.


# --- DATENBANK ZUGRIFF (Postgres) ---
# Hier die Zugangsdaten für den Docker-Container oder die lokale DB
DB_USER=postgres
DB_PASSWORD=Dein_sicheres_Passwort_hierhin
DB_HOST=localhost
DB_NAME=dienstplan
DB_PORT=5432

# --- INITIAL SETUP ---
# Passwort für den ersten Administrator-Account beim Systemstart
INITIAL_MARKUS_PASSWORD=change_me_on_first_startup
# _MARKUS_ kann auf USER gewechselt werden (in docker-compose.yml ebenfalls anpassen)


# --- DATENBANK ROLLEN ---
# Passwort für die spezifische 'admin' Rolle in Postgres
DB_ROLE_ADMIN_PASSWORD=your_admin_role_password




