#How to use it
# Wichitg  
# Postgres muss lokal installiert sein      =>   postgresql.org/download

# Achtung:   Während der Installation werdet ihr nach einem Passwort für den User postgres gefragt. 
# Merkt euch dieses Passwort gut! Ihr müsst es später in eure lokale .env Datei eintragen!!!!!!!!!!!

# Datenbank anlegen: Öffnet pgAdmin 4, Rechtsklick auf "Databases" -> "Create" -> "Database". 
# Name: dienstplan.    <---- die DB MUSS SO HEIßEN

# 1. npm install um alle Abhängigkeiten zu haben
# 2. aus sicherheitsgründen wird die .env nicht mit gepushed, daher
#     2.1 die .env.example kopieren und in .env benennen (ohne Dateiname also wirklich nur           .env)
#     2.2 in der neuen .env zugangsdaten eures lokalen Postgres (pgAdmin)
#         eintragen
# 3 sicherstellen das die lokale postgres Instanz läuft [mit windowstast + r nach services.msc suchen; und in der liste zu postgres scrollen]
# 4 Server starten mit `npm start` oder `npm run devStart` [im backend Ordner]


# DB-Zugriff
DB_USER=postgres
DB_PASSWORD=hier_dein_passwort_einsetzen
DB_HOST=localhost
DB_NAME=dienstplan
DB_PORT=5432

# Markus Anmeldung
INITIAL_MARKUS_PASSWORD=psp1234

# postgres-Rolle 'admin'
DB_ROLE_ADMIN_PASSWORD=hier_ein_sicheres_passwort_waehlen




