# NEU: Sicherheit und Konsistenz der sensiblen Daten

# Node & Build (Schlank)
node_modules/
dist/
build/
npm-debug.log*

# Docker & Datenbank (WICHTIG)
postgres/
db/data/
/postgres
*.tar

# Security & Config (Sicher)
.env
certs/
*.pem

# IDEs & System
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Temporäres/Tests
test.*
*.http
*.txt
temp/
db.json

# Zeichnungen
*.drawio
*.drawio.svg
*.drawio.png