# NEU Datenbank-Daten dürfen nicht in Git landen
/postgres


# Node modules
node_modules/
.DS_Store

# Umgebungsvariablen (env Dateien)
*.env

# Draw.io Dateien
*.drawio
*.drawio.svg
*.drawio.png

# Logs
npm-debug.log*
yarn-debug.log*

# Build-Ordner
dist/
build/
certs/

# IDEs/Editoren
.vscode/
.idea/
.idea/

# Betriebssystem-Spezifische Dateien
.DS_Store
Thumbs.db

# Temporäre Test-Dateien
test.*
*.http
*.txt
temp/
db.json